<!doctype html>
<html lang="en">
<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Y5MKDZ935J"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Y5MKDZ935J');
</script>
	<meta charset = "utf-8">
	<link rel="stylesheet" href="../static/css/tracksite.css"/>

	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png">
	<link rel="manifest" href="/static/icons/site.webmanifest">
	
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="Contact information for TrackCalculator.com">
	<meta name="keywords" content="Contact TrackCalculator.com, Contact Track Calculator">
	<meta name="author" content="Albaro Escalera">
<!-- notes* id is for css name is for server-->

 
<title> Contact Us at TrackCalculator.com </title>

</head>
<body>

	<!--<div class="row"> <!-- everything in body should be in under "row" class-->
		<div class="menu"><!--beginning of menu-->
            <ul>
                <li><a href="{{url_for ('home')}}">Home</a></li>
				<li><a href="{{url_for ('myfitnessprofile')}}">MyFitnessProfile</a></li>
				<li><a href="{{url_for ('splits')}}">Splits</a></li>
				<li><a href="{{url_for ('altitude')}}">Altitude</a></li>
                <li><a href="{{url_for ('about')}}">About</a></li>
                <li><a href="{{url_for ('contact')}}">Contact</a></li>
            </ul>
        </div><!--end of menu-->
		
<div class="contact">
<h1> Contact Us</h1>
<h1><a href="mailto:alescalera@trackcalculator.com">alescalera@trackcalculator.com</a></h1>
<p>We would love to hear from you!</p>
<p>Please contact us regarding your experience or suggestions </p>
<p>for future tools you would like to see at TrackCalculator.com using the link above.</p>
</div>
	<div id="ContactLogo"> 

	</div>
	
	<div id="footer">
			<hr>
		<footer>
			<ul>
                <li><a href="{{url_for ('home')}}">Home</a></li>
				<li><a href="{{url_for ('myfitnessprofile')}}">MyFitnessProfile</a></li>
				<li><a href="{{url_for ('splits')}}">Splits</a></li>
				<li><a href="{{url_for ('altitude')}}">Altitude</a></li>
                <li><a href="{{url_for ('about')}}">About</a></li>
                <li><a href="{{url_for ('contact')}}">Contact</a></li>
				
			</ul>
			<p> © 2025 Track Calculator. All rights reserved. 

			</p>
		</footer>
    </div> <!-- closes footer id-->
      
</body>

</html>
