<!doctype html>
<html lang="en">
<head>
	<link rel="stylesheet" href="../static/css/tracksite.css"/>
<meta charset = "utf-8">
<meta "description" content="The World's First Race Prediction Calculator For Different Elevations">
<meta name="keywords" content="race prediction, running calculator, altitude race prediction calculator,
,sea level race prediction, track calculator, NCAA conversion calculator>
<meta name="author" content="Al Escalera">
<!-- notes* id is for css name is for server-->
<style>

  
        input[type="button"] {
            width: 100%;
            padding: 20px 40px;
            background-color: green;
            color: white;
            font-size: 24px;
            font-weight: bold;
            border: none;
            border-radius: 5px;
        }
  
        input[type="text"] {
            padding: 20px 30px;
            font-size: 24px;
            font-weight: bold;
            border: none;
            border-radius: 5px;
            border: 2px solid black;
        }
 </style>
<title> Track Calculator </title>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6792441924078951"
     crossorigin="anonymous"></script>
</head>
<body>
<!--<div class="container">-->
<div id="banner">

	<h1> Welcome to TrackCalculator.com </h1>
	<h2> The World's Best Predictor for Track Races at Different Elevations</h2>
	
		
</div>

	<div class="wrapper">
	<h1> How fast can you race at different elevations?</h1>
	<div id ="calcu">
	<div id ="title"><h3> Altitude Performance Conversion Calculator</h3></div>
	

	<form action="{{ url_for('predict') }}" method= "post" >
		<label for="Sex"> Sex:</label>
		<select name="Sex" id="Sex" required>
			<optgroup>
			<!--<option value="none" selected disabled hidden>Select an Option</option>-->
			<option value ="Male">Male</option>
			<option 
			value="Female">Female</option>
			</select>
			</optgroup>
		<label for "Event"> Event:</label>
		<select name="Event" id = "Event" required>
			<optgroup>
			<!--<option value="none" selected disabled hidden>Select an Option</option>-->
			<option value = "800m">800m</option>
			<option value= "Mile">Mile</option>
			<option value= "3000m">3000m</option>
			<option value="5000m">5000m</option>
			<option value="10000m">10000m</option>
			<option value="Half Marathon">Half Marathon</option>
			<option value="Marathon">Marathon</option>
			
			</select><br><br>
			</optgroup>
		<label for="Hours">Your race time Hours:</label>
		<input type="number" id="Hours"  name="Hours" value= "0" min="0" max="59" required="required">
		<label for="Minutes">Minutes:</label>
		<input type="number" id="Minutes" name="Minutes" min="0" max="59" required="required">
		<label for="Seconds">Seconds:</label>
		<input type="number" step="0.01" id="Seconds" name="Seconds" min="0" max="59" required="required" ><br><br>

		<label for="Elevation">Ran at an elevation of:</label>
		<input type="number" id="Elevation"  name="Elevation" min="1" required="required">
		<label for ="Units"> Units:</label>
		<select id="Units" name="Units" required>
		<optgroup>
		<!--<option value="none" selected disabled hidden>Select an Option</option>-->
		<option value="Meters">Meters</option>
		<option value="Feet">Feet</option>
		</select><br><br>
		</optgroup>

		<label for="Prediction_Elevation">Prediction Elevation:</label>
		<input type="number" id="Prediction_Elevation"  name="Prediction_Elevation" min="1" required="required">


		
		<input type="submit" id="calculate" value="Calculate"/>

	</form>
		
		<!-- new row on calculator-->
		
		<label for="Predicted Time"><h4>Predicted Time of:</label>
		{{Prediction}}</h4>
		
		{{Phrase}}
		
	</div><!-- closes calculator-->
	

	<div id="description">
	<p> The altitude performance conversion calculator was developed by researchers from Indiana University as part of a dissertation project in collaboration with the NCAA and DirectAthletics
	 using the TFRRS database.We combined the indoor track and field results
	 database with geographical survey data to establish competition elevations. By
	observing the performance changes of each athlete within a given NCAA indoor track season we
	were able to model the percent change from sea level (1-150m) for each event (800m-5,000m) for males and females and extrapolate the pattern to longer events using physiological principals.</p>
	</div><!-- closes description box-->
	
	<div id=footer>
	<p>Author: Albaro Escalera &nbsp;&nbsp;&nbsp;      
	<a href="mailto:alescalera@trackcalculator.com">alescalera@trackcalculator.com</a>&nbsp;&nbsp;&nbsp;      
	Background Image Credit: City of South Lake Tahoe</p>
	</div><!-- closes footer-->
	
</div><!-- closes wrapper-->

<!--</div>--><!--closes container-->           
</body>

</html>
