<!doctype html>
<html lang="en">
<head>
<meta name="google-site-verification" content="XigAjGHD1dOSpgqlYlRlrzZfTtpDwjqKQhzMHbJsp3U" />
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Y5MKDZ935J"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Y5MKDZ935J');
</script>
	<meta charset = "utf-8">
	<link rel="stylesheet" href="./static/css/tracksite.css"/>

	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png">
	<link rel="manifest" href="/static/icons/site.webmanifest">
	
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="The World's First Race Prediction Calculator For Different Elevations">
	<meta name="keywords" content="altitude race prediction, altitude race converter, high altitude track calculator, altitude race prediction calculator,
	sea level race prediction, NCAA conversion calculator, high altitude race converter, altitude track race conversion">
	<meta name="author" content="Albaro Escalera">
<!-- notes* id is for css name is for server--> 
<title> TrackCalculator.com - The Home of Track Performance </title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>

</head>
<body>

	
		<div class="menu"><!--beginning of menu-->
            <ul>
                <li><a href="{{url_for ('home')}}">Home</a></li>
				<li><a href="{{url_for ('myfitnessprofile')}}">MyFitnessProfile</a></li>
				<li><a href="{{url_for ('splits')}}">Splits</a></li>
				<li><a href="{{url_for ('altitude')}}">Altitude</a></li>
                <li><a href="{{url_for ('about')}}">About</a></li>
                <li><a href="{{url_for ('contact')}}">Contact</a></li>
				
            </ul>
        </div><!--end of menu-->
<h1> Welcome to TrackCalculator.com - The Home of Track</h1>
<div class="feature-button-container">
    <a href="{{url_for ('myfitnessprofile')}}">
        <button class="feature-button" id="profile-button">
            <span>View Your Fitness Profile</span>
        </button>
    </a>
    
    <a href="{{url_for ('splits')}}">
        <button class="feature-button" id="splits-button">
            <span>Calculate Your Race Splits</span>
        </button>
    </a>

    <a href="{{url_for ('altitude')}}">
        <button class="feature-button" id="altitude-button">
            <span>Altitude Conversion Calculator</span>
        </button>
    </a>
</div>
	<div id="Logo"> 

	</div>
	
	<div id="footer">
			<hr>
		<footer>
			<ul>
                <li><a href="{{url_for ('home')}}">Home</a></li>
				<li><a href="{{url_for ('myfitnessprofile')}}">MyFitnessProfile</a></li>
				<li><a href="{{url_for ('splits')}}">Splits</a></li>
				<li><a href="{{url_for ('altitude')}}">Altitude</a></li>
                <li><a href="{{url_for ('about')}}">About</a></li>
                <li><a href="{{url_for ('contact')}}">Contact</a></li>
			</ul>
			<p> © 2025 Track Calculator. All rights reserved. 

			</p>
		</footer>
    </div> <!-- closes footer id-->

</body>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>


 
</html>
