<!doctype html>
<html lang="en">
<head>
<meta name="google-site-verification" content="XigAjGHD1dOSpgqlYlRlrzZfTtpDwjqKQhzMHbJsp3U" />
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Y5MKDZ935J"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Y5MKDZ935J');
</script>
	<meta charset = "utf-8">
	<link rel="stylesheet" href="/static/css/tracksite.css"/>

	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png">
	<link rel="manifest" href="/static/icons/site.webmanifest">
	
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="Track your fitness profile and performance metrics">
	<meta name="keywords" content="fitness profile, track performance, running metrics, athlete profile, performance tracking, myfitnessprofile">
	<meta name="author" content="Albaro Escalera">

<title>MyFitnessProfile - TrackCalculator.com</title>
</head>
<body>
	
	<div class="menu"><!--beginning of menu-->
        <ul>
            <li><a href="{{url_for ('home')}}">Home</a></li>
            <li><a href="{{url_for ('myfitnessprofile')}}">MyFitnessProfile</a></li>
            <li><a href="{{url_for ('splits')}}">Splits</a></li>
            <li><a href="{{url_for ('altitude')}}">Altitude</a></li>
            <li><a href="{{url_for ('about')}}">About</a></li>
            <li><a href="{{url_for ('contact')}}">Contact</a></li>
        </ul>
    </div><!--end of menu-->
	<h1>MyFitnessProfile</h1>	
    <div class="fitnessprofile">
        
        <h2>*Under Construction*</h2>
        <p>We're working on building this feature!</p>
        <br><br><br><br><br><br><br><br><br><br><br><br><br>
        <p> Connect your Strava to see your race predictions and training metrics!</p>
    </div>

    <div id="Logo"> 

	</div>
	<div id="footer">
		<hr>
		<footer>
			<ul>
                <li><a href="{{url_for ('home')}}">Home</a></li>
				<li><a href="{{url_for ('myfitnessprofile')}}">MyFitnessProfile</a></li>
				<li><a href="{{url_for ('splits')}}">Splits</a></li>
				<li><a href="{{url_for ('altitude')}}">Altitude</a></li>
                <li><a href="{{url_for ('about')}}">About</a></li>
                <li><a href="{{url_for ('contact')}}">Contact</a></li>
			</ul>
			<p> © 2025 Track Calculator. All rights reserved.</p>
		</footer>
    </div> <!-- closes footer id-->

</body>
</html>
